{% extends "allauth/layouts/base.html" %}

{% block extra_head %}
    {% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}
<div class="min-h-full bg-gray-100 bg-login">
    <div class="h-10">&nbsp;</div>
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
            {% block header %}{% endblock %}
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 bg-white shadow mt-4 rounded-md">
            <div class="bg-white">
            {% block main %}{% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
