{% extends "allauth/layouts/base.html" %}

{% block extra_head %}
    {% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}
<div class="bg-white shadow fixed top-10 w-full z-40">
    <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
        {% block header %}{% endblock %}
    </div>
</div>
<div class="min-h-full bg-gray-100 bg-login">
    <div class="pt-32 pb-6 bg-transparent">
        <main class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 bg-white shadow rounded-md">
            {% block main %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
