{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="sign flex items-center justify-center bg-login h-full">
    <div class="w-auto lg:w-2/4 mx-2 sm:mx-0 border border-gray-50 rounded-lg shadow-lg p-8 bg-white">
    {% element h1 class="h1" %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" class="btn btn-base btn-danger w-32 mt-2" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    </div>
</div>
{% endblock content %}
